# dbt artifacts
target/
dbt_packages/
logs/

# environment
.env
profiles.yml

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Notebook / HTML exports
*.html

# Excel temp files
~$*

# Notebook copies (backup/scratch)
*copy*.ipynb
